.root{
    -fx-background-color: cream;
    -fx-text-fill: black;
}

.menubar{
    -fx-border-width: 2;
    -fx-border-color: pink;
}

.grid{
    -fx-border-width: 4;
    -fx-border-color: white;
}

.cell{
    -fx-border-width: 4;
    -fx-border-color: darkgrey;
    -fx-background-color: #4D4D4D;
    -fx-margin: 0;
}

.radio{
    visibility: hidden;
}
