.root {
    -fx-background-color:#4D4D4D;
}

.menu-bar {
    -fx-font-size: 15px;
}

.radio-menu-item:checked > .left-container {
    -fx-background-color: -fx-mark-color;
    -fx-shape: "M0,5H2L4,8L8,0H10L5,10H3Z";
    -fx-scale-shape: false;
}

.selector-symbol-panel {
    -fx-text-fill: whitesmoke;
    -fx-font-family: 'Bookerly-Bold';
    -fx-font-size: 20;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

.selector-symbol-panel .label {
    -fx-text-fill: whitesmoke;
}

.grid {
    -fx-border-width: 4;
    -fx-border-color: darkgrey;
}

.cell {
    -fx-border-width: 4;
    -fx-border-color: darkgrey;
    -fx-background-color: #4D4D4D;
}

.radio {
    visibility: hidden;
}

.instructions {
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.instructions .label {
    -fx-text-fill: black;
    -fx-font-family: 'Baby_Girl';
    -fx-font-size: 16;
    -fx-text-alignment: center;
    -fx-padding: 15;
}