.root{
    -fx-background-color:whitesmoke;
}

.menu-bar{
    -fx-font-size: 15px;
}

.selectorsymbolpanel {
    -fx-text-fill: black;
    -fx-font-family: 'Bookerly-Bold';
    -fx-font-size: 20;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

.grid{
    -fx-border-width: 4;
    -fx-border-color: black;
}

.cell{
    -fx-border-width: 4;
    -fx-border-color: black;
    -fx-background-color: whitesmoke;
}

.radio{
    visibility: hidden;
}

.about{
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-padding: 20 20 20 20;
}

.hyperlink{
    -fx-border-color: transparent;
}
