.root{
    -fx-background-color:#4D4D4D;
    -fx-text-fill: white;
}

.grid{
    /*-fx-background-image: url("/Board.JPG");*/
    -fx-background-radius: 5.0;
    -fx-border-width: 10;
    -fx-stroke-width: 5;
    -fx-stroke: red;
    /*-fx-hgap: 10;
    -fx-vgap: 10;*/
    /*-fx-background-color: whitesmoke;*/
    -fx-border-width: 4;
    /*-fx-border-color: #4D4D4D*/
    -fx-border-color: darkgrey;
}

.cell{
    -fx-border-width: 4;
    -fx-border-color: darkgrey;
    -fx-background-color: #4D4D4D;
}